#app{
  display: flex;
  flex-direction: column;
  align-items:center;
}
#app > h1{  /*O sinal de > é para garantir que vai pegar o H1 que está dentro do pai app*/
  color:#996dff;
  margin-top: -5px;
}


#app > h2{
  align-self: flex-start;
  margin-top: 64px;
}

#app > p{
  align-self: flex-start;
  text-align: justify;
  width: 512px;
  margin-top: -5px;
}

#app .placeholder{
  color: #7c7c7c84;
  user-select: none;
  
}